@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "base/manifest";
@import "components/sprite";

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
code {
	background: #d3dddd;
	padding: 5px;
	margin-right: 5px;
}
body {
    font-family: "Lato", Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: rem(20);
    font-size: rem(16);
}

.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(32);
        font-weight: bold;
        font-family: $RCN, Areal, sans-serif;
    }
    h2{
        font-size: rem(30);
        font-weight: bold;
    }
    h3{
        font-size: rem(20);
        font-weight: bold;
    }
    h4{
        font-size: rem(18);
        font-weight: 600;
    }
    h5{
        font-size: rem(16);
        font-weight: 600;
    }
    h6{
        font-size: rem(14);
        font-weight: 600;
    }
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        cursor: pointer;
        font-size: rem(16);
        font-weight: 600;
        min-width: 173px;
        height: 40px;
        box-shadow: 0 4px 0 #2e9564;
        border-radius: 8px;
        border: none;
        padding: 0 30px;
        @include trans(0.05);
        background-image: linear-gradient(180deg,
         rgba(109, 234, 174, 1) 0%, 
         rgba(117, 237, 180, 1) 51%, 
         rgba(42, 180, 114, 1) 100%);
        outline: none;
        &:hover{
             background-image: linear-gradient(180deg,
             rgba(79, 224,155, 1) 0%, 
             rgba(117, 237, 180, 1) 51%, 
             rgba(42, 180, 114, 1) 100%);
             box-shadow: 0 2px 0 #3ca774;
        }
        &:active {
            box-shadow: 0 -2px 0 #2e9564;
            background-image: linear-gradient(180deg,
            rgba(42, 180, 114, 1) 0%, 
            rgba(109, 234, 174, 1) 51%, 
             rgba(42, 180, 114, 1)   100%);

        }
    }
}
header{
    color: #767676;
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid $dark;
    .flex-header{
       align-items: flex-start;
        padding-top: 20px;
    }
    .city{
        font-size: rem(18);
        position: relative;
        padding-left: 31px;
        font-weight: 500;
        &:before{
            content:"";
            position: absolute;
            background:  url(../src/img/sprites/sprite.svg) no-repeat;
            background-position: -2px -150px;
            left: 0;
            top: -6px;
            width: 21px;
            height: 25px;
        }
    }
    .logo{
        font-family: "Roboto Condensed";
        font-size: rem(28);
        font-weight: 700;
        text-transform: uppercase;
    }
    .phone{
        position: relative;
        padding-left: 23px;
        a{
            color: #767676;
            font-size: rem(20);
            font-weight: 500;
        }
        &:before{
            content:"";
            position: absolute;
            background:  url(../src/img/sprites/sprite.svg) no-repeat;
            background-position: -6px -176px;
            left: 0;
            top: -6px;
            width: 13px;
            height: 25px;
        }
    }
    nav{
        position: relative;
        text-align: center;
        top: 20px;
        ul{
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
            li{
                display: inline-block;
                padding: 10px 20px;
                a{
                    font-weight: 500;
                    color: $bk;
                    text-decoration: none;
                }
                &.active, &:hover{
                    background: $dark;
                }
            }
        }
    }
}
.col-pol{
    width: 50%;
}
.call-out{
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-height: 93px;
    margin: 0 auto;
    padding: 20px;
    background:url(/img/bg-callout.png)no-repeat;
    background-size:contain;
    background-position:center;
    box-sizing:  border-box;
    margin-top: 50px;
    p{
        color: #353535;
        font-family: "Roboto Condensed";
        font-size: rem(24);
        font-weight: 700;
        line-height: rem(31);
    }
}
#processOneIco{
    background:url(/img/zayavka.png)no-repeat;
}
#processTwoIco{
    background:url(/img/calc.png)no-repeat;
}
#processThreeIco{
    background:url(/img/lists.png)no-repeat;
}
#processFourIco{
    background:url(/img/auro.png)no-repeat;
}
#processFiveIco{
    background:url(/img/home.png)no-repeat;
}
section{
    position: relative;
    &.banner{
        min-height: 650px;
        width: 100%;
        background:url(/img/bg1.jpg) repeat-y;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:bottom;
        .flex-banner{
            align-items: flex-start;
        }
        .ttl-head{
            @include shadow();
            border-radius: 4px;
            background-color: #ffffff;
            padding: 20px 25px;
            margin-top: 75px;
            h1{
                font-size: rem(32);
                font-weight: 900;
                line-height: 41px;
                color: #353535;
            }
        }
        .utp{
            padding: 13px 25px;
            background-color: #ffffff;
            margin-top: 33px;
            display: inline-block;
            @include shadow();
            p{
                font-size:rem(24);
                font-weight: 500;
                line-height: 31px;
            }
        }
        .btn{
            margin-top: 80px;
        }
        .car{
            img{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    &.services{
        background: #f6f6f6;
        padding-bottom: 55px;
    }
    .services{
        background: #f6f6f6;
        &__ttl{
           position: absolute;
           left: 0;
           right: 0;
           top: -50px;
           margin: auto;
        }
        &__full-stack{
            padding-top: 70px;
            .item{
                max-width: 262px;
                min-height: 345px;
                border-radius: 4px;
                background-color: #ffffff;
                text-align: center;
                padding: 20px;
                margin: 0 2px;
                box-sizing: border-box;
                .ico{
                    img{
                        width: 80px;
                        height: 80px;
                        margin: 0 auto;
                    }
                }
                .ttl{
                    margin-top: 7px;
                    h3{
                        font-size: $h3-fz;
                        font-weight: 700;
                        line-height: 26px;
                    }
                }
                .txt{
                    margin-top: 20px;
                    max-height: 225px;
                    overflow: auto;
                }
            }
        }
    }
    &{
        .process{
            &__flex{
                margin-top: 40px;
                align-items: baseline;
            }
            &__item{
                max-width: 199px;
                min-height: 232px;
                border-radius: 4px;
                background-color: #ffffff;
                text-align: center;
                padding: 30px 15px;
                @include trans(0.4);
                margin: 0 5px;
                .ico{
                   width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    background-size:contain;
                    background-position:center;
                    filter: grayscale(1)
                }
                .txt{
                    margin-top: 20px;
                    p{}
                }
                &:hover{
                    @include shadow();
                    .ico{
                        filter: grayscale(0);
                    }
                    .txt{
                        color: #58e0d9;
                    }
                }
            }
            &__arrow{
                img{
                    max-width: 45px;
                }
            }
        }
    }
    &{
        .advantages{
            &__flex{
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                justify-content: center;
                align-items: baseline;
            }
            &__item{
                max-width: 292px;
                min-height: 140px;
                padding: 20px 15px;
                position: relative;
                background-color: #f6f6f6;
                margin: 10px;
                border-radius: 4px;
                .desc{
                    padding-left: 70px;
                }
                &:before{
                    content:"";
                    left: 15px;
                    top: 15px;
                    position: absolute;
                    background: url(/img/check-mark.svg)no-repeat;
                    width: 60px;
                    height: 63px;
                }
            }
        }
        &.advantages{
            .description{
                text-align: center;
                max-width: 1000px;
                margin: 0 auto;
                .seporate{
                    margin: 44px auto;
                    width: 120px;
                    height: 2px;
                    background: $accent-color;
                }
                p{
                    line-height: 23px;
                }
            }
        }
    }
    &.stock{
        .stock__flex{
            .stock__item{
                .img{
                    img{
                        max-width: 620px;
                        width: 100%;
                        height: auto;
                    }
                }
                .txt{
                    margin-top: 50px;
                    ul{
                        li{
                            list-style: none;
                            position: relative;
                            padding-left: 20px;
                            line-height: rem(25);
                            &:before{
                                content: ". ";
                                position: absolute;
                                font-size: 60px;
                                top: -15px;
                                left: 0;
                                color: $accent-color;
                            }
                        }
                    }
                }
                &:first-child{
                    margin-right: 20px;
                }
                &:last-child{
                    margin-left: 20px;
                }
                .stock__btn{
                    margin-top: 37px;
                }
            }
        }
    }
     &.gallery{
        position: relative;
        .arrow{
            position: absolute;
            z-index: 2;
            top: calc(50% - 36px);
            width: 74px;
            height: 74px;
            border-radius: 50%;
            filter: brightness(50%);
            background: url(/src/img/sprites/sprite.svg)no-repeat;
            cursor: pointer;
            @include trans(0.4);
            &:hover{
                filter: brightness(100%);
            }
        }
    }
    &{
        .gallery{
            &__sldr{
                
            }
            &__slide{
                margin: 0 5px;
                img{
                    max-width: 377px;
                    width: 100%;
                    height: auto;
                    max-height: 332px;
                    overflow: hidden;
                    @include  trans(0.4);
                    &:hover{
                        filter: brightness(70%);
                    }
                }
            }
            &__prev{
                left: 25px;
                background-position: 0 0;
            }
            &__next{
                right: 25px;
                background-position: 0 -75px !important;
            }
        }
    }
    &.review{
        
    }
    &{
        .review{
            &__flex{
                margin-top: 90px;
            }
            &__item{
                padding: 65px 25px 40px 25px;
                width: 306px;
                height: 379px;
                @include shadow();
                border-radius: 4px;
                background-color: #f6f6f6;
                position: relative;
                margin: 0 7px;
                .auhtor{
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: -45px;
                    width: 90px;
                    height: 90px;
                    margin: 0 auto;
                }
                .name{
                    text-align: center;
                    font-size: rem(18);
                    font-weight: 500;
                    line-height: rem(23);
                }
                .txt{
                    margin-top: 20px;
                    color: #767676;
                    line-height:rem(23);
                    max-height: 220px;
                    overflow: auto;
                }
            }
        }
    }
    &.contacts{
        padding-bottom: 90px;
        .address{
            address{
                color: #777777;
                font-size: rem(18);
                font-weight: 500;
                font-style: normal;
                margin-left: 20px;
                justify-content: flex-start;
                .phone{
                    position: relative;
                    padding-left: 22px;
                    &:before{
                        content:"";
                        position: absolute;
                        top: -5px;
                        left: 0;
                        width: 13px;
                        height: 25px;
                        background: url(/src/img/sprites/sprite.svg) no-repeat;
                        background-position: -6px -176px;
                    }
                }
                .city{
                    position: relative;
                    padding-left: 29px;
                    margin-left: 74px;
                    &:before{
                        content:"";
                        position: absolute;
                        top: -5px;
                        left: 0;
                        width: 21px;
                        height: 25px;
                         background: url(/src/img/sprites/sprite.svg) no-repeat;
                        background-position:-2px -150px;
                    }
                }
                &>span{
                    max-width: 350px;
                    width: 100%;
                }
            }
        }
        .form-contacts{
            margin-top: 64px;
                .inp{
                    border: none;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-start;
                    input{
                        background: none;
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid #767676;
                        padding: 0 20px;
                        @include trans(0.25)
                        &:last-child{
                            margin-left: 44px;
                        }
                        &:focus{
                            outline: none;
                            border-bottom-color: $focus-color;
                        }
                    }
                }
                textarea{
                    padding: 10px 15px;
                    margin-top: 36px;
                    border-radius: 4px;
                    border: 2px solid #767676;
                    height: 90px;
                    width: 100%;
                    @include trans(0.25)
                    &:focus{
                         outline: none;
                         border-color: $focus-color;
                    }
                }
            .contacts__btn{
                margin-top: 30px;
            }
        }
        .bg{
            text-align: center;
            margin-left: 100px;
            img{
                @include shadow();
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
}
footer{
    margin-top: 30px;
    .logo{
        span{
            color: #777777;
            font-family: "Roboto Condensed";
            font-size: rem(28);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .menu{
        nav{
            ul{
                li{
                    display: inline-block;
                    margin: 0 15px;
                    list-style: none;
                    @include trans(0.4);
                    &:hover a, &.active a{
                        border-bottom: 2px solid $accent-color;
                    }
                     a{
                        color: #777777;
                        font-size: rem(18);
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .social{
    }
    .offer{
        text-align: center;
        max-width: 1180px;
        margin: 30px auto 0;
        p{
            margin-top: 10px;
            color: #b4b4b4;
            font-size: rem(12);
            line-height: rem(16);
            a{
                color: #2ECC71;
                text-decoration: underline;
            }
        }
    }
}
.gradient{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);
}


/////////////hamburger
.hamburger-btn{
    display: none;
}
.hamburger {
    position: relative;
    z-index: 9999;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: -40px;
   margin-bottom: 28px;
  margin-left: auto;
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  background: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.burger-main {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}
.burger-inner {
  position: relative;
  height: 28px;
  width: 36px;
}
.burger-main span {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #6fe0d9;
}
.top {
  top: 0;
  transform-origin: 34px 2px;
}
.bot {
  bottom: 0;
  transform-origin: 34px 2px;
}
.mid {
  top: 12px;
}
.svg-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}
.circle {
  width: 68px;
  height: 68px;
}
.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}
.hamburger.open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .top {
  animation: close-top-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .bot {
  animation: close-bot-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .top {
  animation: close-top-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .bot {
  animation: close-bot-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .mid {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .mid {
  animation: burger-fill-in 0.6s linear normal;
}
.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  -webkit-mask-box-image: url(/img/mask.svg);
}
.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}
.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: $dark;
}
.hamburger.open .animate-path {
  animation: circle-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .animate-path {
  animation: circle-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 0;
  }

}
@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 0;
  }

}
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 240;
  }

}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 240;
  }

}
@keyframes close-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }

  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }

  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }

}
@keyframes close-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    transform: rotate(45deg);
  }

}
@keyframes close-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }

  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }

  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }

}
@keyframes close-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }

}
@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  80% {
    width: 36px;
    left: -6px;
  }

  100% {
    width: 36px;
    left: 0px;
  }

}
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }

  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }

}
@keyframes circle-out {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }

}
@keyframes circle-in {
  0% {
    transform: rotate(360deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.no-mobile-add{
    display: block !important;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding-top: 195px;
    @include trans(0.4);
    li{
        display: block;
        text-align: center;
        background: rgba(255,255,255,0.1);
        line-height: rem(26);
        border-bottom: 1px solid $bk;
        a{
            color: $wt;
            font-size: rem(18);
            font-weight: 500;
        }
        &.active, &:hover{
            background: rgba(111,224,217,0.4);
        }
    }
}





//////media
@media only screen and (max-width: 1200px){
    section .review__flex {
        flex-wrap: wrap;
        justify-content: center;
        .review__item{
            margin-top: 60px;
        }
    }
    section.contacts{
        margin-top: 60px;
    }
    .social{
        display: none;
    }
}
@media only screen and (max-width: 992px){
    section.banner .flex-banner{
        flex-direction: column;
        align-items: center;
    }
    .col-pol{
        width: 100%;
    }
    section.banner .ttl-head{
        margin-top: 25px;
    }
    .car{
        margin-top: 20px;
    }
     section.banner .col-pol{
        width: 100%;
    }
    section .process__flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .stock__flex {
        flex-wrap: wrap;
        justify-content: center;
        .col-pol{
            width: 100%;
        }
        .stock__item{
            .img{
                text-align: center;
            }
            &:first-child, &:last-child{
                margin: 0 !important;
            }
            &:first-child{
                margin-bottom: 60px !important;
            }
         }
    }
    section.contacts .contacts__flex{
        flex-direction: column;
    }
    section.contacts .address address > span {
        max-width: 420px;
    }
    section.contacts .col-pol:first-child{
        margin-bottom: 40px;
    }
    section.contacts .bg{
        margin-left: 0;
    }
    footer .menu{
        display: none;
    }
    .social{
        display: block;
    }
}
@media only screen and (max-width: 768px){
	header .flex-header {
        flex-direction: column;
        align-items: center;
        & > div{
            margin-bottom: 15px;
        }
    }
    .no-mobile{
        display: none;
    }
    .hamburger-btn{
        display: block;
    }
    .car{
        display: none;
    }
    .col-pol{
        width: 100%;
    }
}
@media only screen and (max-width: 560px){
    section.banner{
        min-height: auto;
    }
    .call-out{
         background-size: cover;
    }
    .process__arrow{
        display: none;
    }
    section.contacts .address address .phone{
        font-size: 16px;
    }
}
@media only screen and (max-width: 480px){
    ul{
        padding-left: 15px;
    }
    section.contacts .form-contacts .inp{
        flex-direction: column;
    }
    section.contacts .form-contacts .inp input:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
    section.contacts .address address{
        flex-direction: column;
    }
    section.contacts .address address .city{
        margin: 0;
        margin-top: 15px;
    }
    .social{
        display: none;
    }
}