<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gulppack</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="stylesheet" href="/slick/slick-theme.css">
        <link rel="stylesheet" href="/slick/slick.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media.css">
    <link rel="shortcut icon"  href="favicon.ico">
    </head>
    <body>

        <header>
            <div class="container">
                <div class="flex flex-header">
                    <div class="city">Ростов-на-Дону</div>
                    <div class="logo">Мастер перевозки</div>
                    <div class="phone">
                        <a href="tel:8 (938) 160-80-47">8 (938) 160-80-47</a>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li class="active"><a href="">Главная</a></li>
                        <li><a href="">Услуги</a></li>
                        <li><a href="">Преимущества</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="banner" id="oneBlock">
            <div class="container flex flex-banner">
                <div class="col-pol">
                    <div class="ttl-head">
                        <h1>Проверенный грузоперевозчик <br>по Ростову от 490р/час!</h1>
                    </div>
                    <div class="utp">
                        <p>
                            По области и России от 15 руб/км. <br>Грузчики от 250 руб/час
                        </p>
                    </div>
                    <div class="btn"><button>Получить бесплатную консултацию</button></div>
                </div>
                <div class="col-pol">
                    <div class="car"><img src="/img/gasel.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="services" id="twoBlock">
            <div class="ttl services__ttl ttl-h2">
                <h2>Наши услуги</h2>
            </div>
            <div class="services__full-stack " id="services-slick">
                <div class="item">
                    <div class="ico"><img src="/img/ico1.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico2.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico3.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico4.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico5.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico6.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico7.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
                <div class="item">
                    <div class="ico"><img src="/img/ico5.svg" alt=""></div>
                    <div class="ttl">
                        <h3>Грузовое такси</h3>
                    </div>
                    <div class="txt">
                        Грузовое такси по Ростову-на-Дону. Машины разной вместимости отвезут ваши вещи, технику, стройматериалы и даже мусор. Приедем в течение 15 минут.
                    </div>
                </div>
            </div>
            <div class="call-out">
                <p>Не нашли нужную услугу?<br>
                Позвоните 8(928) 107-82-61<br>
                и мы вам поможем!</p>
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        












    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
    <script src="/slick/slick.min.js"></script>
    <script src="/js/custom.js"></script>
    </body>
</html>