$bg-color:#b4eaff;
$link-color: #00b;
$wt:#fff;
$bk:#000;
$dark:#ededed;
$accent-color: #58e0d9;
$focus-color: $accent-color;
$fz: rem(16);
$h2-fz:rem(30);
$h3-fz:rem(20);
$btn-color: #cb1436;
$placeholder-color: #767676;
$browser-context: 16; // Default
$dir:'../fonts/';

$Lbk: 'Lato-Black';
$Lb: 'Lato-Bold';
$Lm: 'Lato-Medium';
$L: 'Lato-Regular';
$RCb: 'RobotoCondensed-Bold';
$LN: 'Lato';
$RCN: 'Roboto Condensed';

$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:80px;
$mb:60px;